.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 10px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    background-color: #3D59F5;
    color: white;
    font-weight: bold;
    height: 45px;
    font-size: 1.2rem;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    background-color: orangered;
    margin-left: 20px;
    background-color: #5470E8;
}

.title {
    margin-left: 10px;
}