.container {
  display: flex;
  background-color: white;
  border-radius: 30px;
  border: 1px solid black;
  width: 70%;
}

.container input {
  padding: 0 20px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 1.2rem;
  }
}
