.container {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

.container object {
  min-height: 100%;
}

.container embed {
  min-height: 100%;
}

.container_no_ticket {
  text-align: center;
  padding: 2%;
}

.mobile {
  display: none;
}
.desktop {
  display: block;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
