.container {
  height: 100%;
}

.container object {
  position: absolute;
  left: 0;
  top: 0;
}

.container embed {
  position: absolute;
  left: 0;
  top: 0;
}


.container_no_ticket {
  text-align: center;
  padding: 2%;
}
