.container {
  height: 100%;
  min-height: 100vh;
}

.container iframe {
  height: 100%;
  min-height: 100vh;
}

.container embed {
  height: 100%;
  min-height: 100vh;
}

.container_no_ticket {
  text-align: center;
  padding: 2%;
}
