.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  z-index: 1000;
  width: 60%;
  height: 60%;
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title {
  margin: 0;
}

.close {
  cursor: pointer;
}

.content {
  padding: 20px;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .container {
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    height: 90%;
  }
}
